*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  color-scheme: light dark;
  --orange:#EB5939;
  --black:#0D0D0D;
  --black50:#0d0d0d7a;
  --white:#FFFFFF;
  --white50:rgba(255, 255, 255, 0.5);
}

/* Estilos donde se hace la mágica */
.mask{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; height: 100%;
  mask-image: url(./circle.svg);
  mask-repeat: no-repeat;
  mask-size: 300px;
  opacity: 0;
}
.mask:hover{
  opacity: 1;
  background: var(--orange);
  color: var(--black);
}

/* Estilos de la página */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: var(--white50);
  z-index: 10;
  backdrop-filter: blur(10px);
}
nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a{
  display: flex;
  padding: 10px;
  color: var(--black);
  font-weight: bold;
  transition: .2s ease-out;
}
nav a:hover{
  background: var(--black);
  color: var(--orange);
  transition: .1s ease-in;
}
section{
  height: 100vh; width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.textOrange{
  color: var(--orange);
}
h2{
  display: flex;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: -15px;
}
footer{
  position: fixed;
  display: flex;
  height: 50px; width: 100%;
  bottom: 0;
  background: var(--black50);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  z-index: 10;
  backdrop-filter: blur(10px);
}