*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  color-scheme: light dark;
  --orange:#EB5939;
  --black:#0D0D0D;
  --black50:#0d0d0d7a;
  --white:#FFFFFF;
}
nav{
  position: fixed;
  width: 100%;
  height: 40px;
  inset: 0;
  z-index: 10;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(5px);
  overflow: hidden;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}
nav a{
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding: 15px;
  font-weight: bold;
}
nav a:hover{
  background: var(--black);
  color: var(--orange);
}
h2{
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: -15px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh; width: 100vh;
}
.orange{
  color: var(--orange);
}
.mask{
  position: absolute;
  mask-image: url(./circle.svg);
  mask-size: 300px;
  mask-position: 50%;
  mask-repeat: no-repeat;
  opacity: 0;
  /* background: red; */
  transition: .2s;
}
.mask:hover{
  opacity: 1;
  background: var(--orange);
  color: var(--black);
}
footer{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  bottom: 0;
  background: var(--black50);
  z-index: 10;
  backdrop-filter: blur(5px);
}
footer > *{
  font-size: .9rem;
}
footer a{
  padding: 10px;
  font-style: italic;
  color: var(--white);
}
footer a:hover{
  background: var(--white);
  color: var(--black);
}